a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 125px;
}

.App-header {
  background-color: #000;
  padding: 50px;
  color: white;
  font-size: 100px;
  line-height: 100px;
  vertical-align: top;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 */
.navigation {
  margin: 0;
  background-color: #218ffe;
  padding: 25px;
  text-align: center;
}

.navigation li {
  margin: 0 50px;
  list-style-type: none;
  display: inline-block;
}

.navigation li a {
  color:  #FFF;
  text-decoration: none;
  font-weight: bold;
}

.c-heroes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.c-heroesList__col {
  max-width: 50%;
}

.c-heroesList {
  margin: 0;
  padding: 25px 50px;
  background-color: #218ffe;
  color: #FFF;
}

.c-heroesList li {
  list-style-type: none;
  padding: 5px 0;
}

.c-heroesList a {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

/* Layouts */

.l-page {
  display: flex;
  max-width: 1200px;
  margin: auto;
}